/* 白天网站背景 */
#web_bg {
    background-size: 20rem;
    background-image: url(/img/bg.svg) !important;
    background-repeat: initial
}

/* 夜间网站背景 */
[data-theme=dark] #web_bg {
    background-size: 100rem;
    background-image: url(/img/bg-dark.jpg) !important;
}